/* AddSupplier.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f3f4f6;
  min-height: 100vh;
}

.form-wrapper {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}



.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
}

.scrollable-table {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.scrollable-table table {
  width: 100%;
  border-collapse: collapse;
}

.scrollable-table th, .scrollable-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.scrollable-table tr:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

.scrollable-table .selected {
  background-color: #3b82f6;
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  background: #9ca3af;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.cancel-button:hover {
  background: #6b7280;
}

.save-button {
  background: #3b82f6;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.save-button:hover {
  background: #2563eb;
}


.group-wrapper {
  display: flex;
  justify-content: space-between;
}


.is-active-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  column-gap: 10px;
}

.is-active-group .label {
  display: block;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 0.5rem;
}